/* Note: We recommend inviting a 
professional web developer to work with 
Custom Css. Test your code on a staging 
environment before publishing. */
.slider-trigger {
  color: #ff3465;
}

.pill {
  text-transform: uppercase !important;
}

.weekly-webinars-45 .forum-featured-image__content h1, .weekly-webinars-45 .forum-featured-image__content p, .training-44 .forum-featured-image__content h1, .training-44 .forum-featured-image__content p {
  color: #ffffff;
}

.partner-central-46 .sitewidth div[data-preact="category/CategoryList"] {
  display: none;
}

.header-navigation_logo-wrapper a {
  margin-right: 56px !important;
}

.header-navigation-items_menu li:first-child .dropdown--forums-overview .main-menu-list--overflow-scroll ul:first-child li:first-child {
  display: none;
}

.avatar-variant-0, .avatar-variant-1 {
  background-color: #FF99B2;
}

.avatar-variant-2, .avatar-variant-3 {
  background-color: #11C1A6;
}

.avatar-variant-4, .avatar-variant-5 {
  background-color: #8FA0F5;
}

.avatar-variant-6, .avatar-variant-7 {
  background-color: #FF3465;
}

.avatar-variant-8, .avatar-variant-9 {
  background-color: #311D40;
}

input.search-box__input--focused + button[type=submit] {
  display: none;
}

.main-navigation--nav-buttons-wrapper ul a.menu-create-topic {
  color: #ff3565;
  transition: 0.25s;
  background: white;
  border: 1px solid #ff3565;
  box-shadow: none;
}
.main-navigation--nav-buttons-wrapper ul a.menu-create-topic:hover {
  border: 1px solid #80808012;
  transition: 0.25s;
}
.main-navigation--nav-buttons-wrapper ul a.qa-header-login-button {
  transition: 0.25s;
  border: 1px solid transparent;
}
.main-navigation--nav-buttons-wrapper ul a.qa-header-login-button:hover {
  color: #ff3565;
  background-color: white;
  transition: 0.25s;
  border: 1px solid #80808012;
}
.main-navigation--nav-buttons-wrapper ul a.qa-header-login-button svg {
  display: none;
}

.widget-container--hero_banner .brand-hero {
  background-size: cover;
  background-position: center;
}
.widget-container--hero_banner .brand-hero .brand-hero-title {
  font-size: 40px;
  line-height: 1.6;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .widget-container--hero_banner .brand-hero .brand-hero-title {
    font-size: 30px;
    line-height: 1.4;
  }
}
.widget-container--hero_banner .sitewidth {
  width: fit-content;
}
.widget-container--hero_banner .hero-search {
  max-width: 100%;
  padding: 0px 20px;
}
.widget-container--hero_banner .algolia-search input {
  border-radius: 0px;
  padding-left: 21px !important;
}
.widget-container--hero_banner .algolia-search .search-box__submit {
  right: 0px;
  left: initial;
  padding: 16px 16px 16px 0px;
}

.widget-container--statistics_bar #last-visitors-widget {
  display: none;
}
.widget-container--statistics_bar .list--stats-bar {
  text-align: center;
}
.widget-container--statistics_bar li {
  color: #2B3346;
}
.widget-container--statistics_bar li strong {
  font-weight: 100 !important;
  color: #2B3346 !important;
}
.widget-container--statistics_bar li span {
  font-weight: 100 !important;
  color: #2B3346 !important;
}

.widget-container--quick_links {
  margin-bottom: 40px;
}
.widget-container--quick_links .qa-quicklinks-container article {
  border: 0px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}
.widget-container--quick_links .qa-quicklinks-container article figure {
  margin-bottom: 13px;
}
.widget-container--quick_links .qa-quicklinks-container article:hover {
  border: 0px;
}
.widget-container--quick_links .qa-quicklinks-container .quicklink__title {
  padding-bottom: 34px;
}
.widget-container--quick_links .qa-quicklinks-container .quicklink__title header {
  margin-bottom: 10px;
}
.widget-container--quick_links .qa-quicklinks-container .quicklink__title p {
  color: #6B707E;
}

.widget-container--recommendations {
  margin-bottom: 40px;
}
.widget-container--recommendations ul li a {
  font-size: 16px;
}

.widget-container--container_2_1 .tabs--nav {
  margin-bottom: 20px;
}
.widget-container--container_2_1 .tabs--nav ul li a {
  font-size: 20px !important;
  font-weight: bold !important;
  line-height: 1.2 !important;
}
.widget-container--container_2_1 .tabs--nav ul li a.is-active {
  color: #311D40 !important;
  border-bottom: 2px solid #ff3465 !important;
}

.homepage-widget-container--featured_topics section {
  margin-top: 0px;
}
.homepage-widget-container--featured_topics article .card-widget-wrapper {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  border: 0px;
  border-radius: 0px;
}
.homepage-widget-container--featured_topics article .card-widget-wrapper:hover {
  border: 0px;
}

.c-footer--simple {
  background-color: #FFFFFF;
  padding: 48px 0px;
}
.c-footer--simple .c-footer--simple__logo {
  text-align: center;
  width: 100%;
}
.c-footer--simple .c-footer--simple__social-links {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
.c-footer--simple .c-footer--simple__social-links a {
  padding-right: 7.5px;
  padding-left: 7.5px;
}
.c-footer--simple .c-footer--simple__company-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 35px 0;
}
.c-footer--simple .c-footer--simple__company-links a, .c-footer--simple .c-footer--simple__company-links span {
  font-size: 16px;
  line-height: 28px;
  flex: 1;
  text-align: center;
}
@media (min-width: 768px) {
  .c-footer--simple {
    padding: 48px 0;
  }
  .c-footer--simple .c-footer--simple__logo {
    text-align: unset;
    width: fit-content;
  }
  .c-footer--simple .c-footer--simple__company-links {
    flex-direction: row;
    padding: 0;
    order: 3;
  }
  .c-footer--simple .c-footer--simple__company-links a, .c-footer--simple .c-footer--simple__company-links span {
    font-size: 13px;
    line-height: 24px;
    text-align: right;
  }
  .c-footer--simple .c-footer--simple__social-links {
    text-align: right;
    width: fit-content;
    margin-top: 0px;
  }
}
.c-footer--simple .footer-links a {
  color: black;
  padding-right: 30px;
}

.featured-topic__title .card-widget-text {
  color: #6B707E;
}

footer.c-footer--simple > div > div {
  display: flex;
  padding: 0px 40px;
  flex-wrap: wrap;
  padding-bottom: 0px;
  align-items: center;
  justify-content: space-between;
}

.forum-featured-image h1 {
  color: white;
}
.forum-featured-image p {
  color: white;
}
.forum-featured-image .search-box input {
  padding-left: 20px !important;
  border-radius: 0px;
}
.forum-featured-image .search-box .search-box__submit {
  left: initial;
  right: 16px;
  padding: 16px 16px 16px 0px;
}

.widget--tags a {
  border-radius: 60px;
  border: 0px;
  box-shadow: none;
  padding: 12px;
}

.category-page_container ul.category-page_list li {
  border: none;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.Template-brand-stats .forum-subscribe-button button {
  background-color: #FF3465;
  color: white;
  transition: 0.25s;
}
.Template-brand-stats .forum-subscribe-button button:hover {
  background-color: white;
  color: #FF3465;
  transition: 0.25s;
}

.header-navigation_extendable-search .header-navigation_extendable-search-icon {
  background-color: white;
  color: #B1B2B4;
  box-shadow: 0px 0px 0px 1px #B1B2B4;
  border-radius: 100px;
}
.header-navigation_extendable-search .header-navigation_extendable-search-icon:hover {
  background-color: #311D40;
  color: white;
  box-shadow: none;
}

.qa-topic-block .thread-list-block__title {
  font-weight: 500;
}

.public-tags .tag--pill {
  border: 0px;
  border-radius: 100px;
  padding: 10px 12px;
}

.product-update-view {
  margin-top: 10px;
}

.widget-container--ideation_list .thread-list-block__title {
  font-weight: 500;
  color: #311D40;
}

.qa-sso-token_v2 {
  width: fit-content !important;
  margin: auto;
  display: flex;
  position: relative;
  color: transparent !important;
}
.qa-sso-token_v2:after {
  content: "Log in";
  color: white;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.qa-login-modal h4 {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0px;
  color: transparent;
}

.idea-view_info h4 a {
  opacity: 1 !important;
  font-weight: bold;
}

.topic__content-type-pill {
  text-transform: uppercase !important;
}

.topic-view.topic-view--unread .topic-view_body .thread-list-block__title .thread-list-block__title-link {
  font-weight: bold;
}

a:focus {
  outline: none !important;
}

button {
  outline: none;
}
button:focus-visible {
  outline: none;
}

.widget-container--product-updates_hero .instant-search__filter {
  display: none;
}

.widget-container--ideation_hero .instant-search__filter {
  display: none;
}

.twig_site-badges .list--badges .user_data h4 {
  color: #311D40;
}
.twig_site-badges .list--badges .user_data h4:hover {
  color: #ff3465;
}

/*# sourceMappingURL=main.css.map */
